@model IEnumerable<MyWebTest.Models.User>
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["userslist"]</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-route="edit_users_role" asp-route-userid="@user.Id">@Localizer["access"]</a>
            </td>
        </tr>
    }
</table>

<a asp-route="roles">@Localizer["roles"]</a>
