@model MyWebTest.Models.User

@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<table class="table" id="body">
    <tbody>
        <tr><th>@Localizer["email"]</th><th>@Localizer["name"]</th><th>@Localizer["age"]</th></tr>
                 <tr>
                    <td>@Model.Email</td>
                    <td>@Model.Name</td>
                    <td>@Model.Age</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                                <a class="btn btn-sm btn-primary" asp-route="edit_user" asp-route-id="@Model.Id">@Localizer["edit"]</a>
                                @if (!User.IsInRole("admin"))
                                {
                                    <a class="btn btn-sm btn-primary" asp-route="change_password" asp-route-id="@Model.Id">@Localizer["change_pass"]</a>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-primary" asp-route="change_password_admin" asp-route-id="@Model.Id">@Localizer["change_pass"]</a>
                                }
                        </form>
                    </td>
                  </tr>
    </tbody>
</table>
