@model MyWebTest.ViewModels.CreateQuestionViewModel

@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-route="add_question" method="post">
    <div class="form-group">
        <label asp-for="Text">@Localizer["text"]</label>
        <input asp-for="Text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CorrectAnswer">@Localizer["correct"]</label>
        <input asp-for="CorrectAnswer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AnswerOption">@Localizer["options"]</label>
        <input asp-for="AnswerOption" class="form-control" />
    </div>
    <div>
        <input asp-for="TestId" value="@ViewBag.Id" hidden="hidden" />
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["add"]</button>
</form>
