@model MyWebTest.ViewModels.EditTestViewModel
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["list"];
}
<table>
    <tr><th>@Localizer["title"]</tr>
    @foreach (var question in Model.Questions)
    {
        <tr>
            <td>@question.Text</td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td>
                <form asp-route-controller="Question" asp-route-action="EditQuestion" asp-route="question" asp-route-id="@question.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-danger">
                        @Localizer["edit"]
                    </button>
                    <a class="btn btn-sm btn-danger" asp-action="DeleteQuestion" asp-controller="Tests" asp-route-id="@question.Id">@Localizer["delete"]</a>
                </form>
            </td>
        </tr>
    }
</table>


